body{
	color:white;
    padding: 0;
    margin: 0;
    background: url(../image/Fon.jpg);
    z-index: 0;

}

.content{
padding-left:85px;
}


.header{
	border-color: red;
	color:white;
	font-size: 80px;
    left: 300px;
	position: relative;

}

.blockquote-1 {
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);

    position: relative;
    font-size: 30px;
    background: #efefef;
    color: #000;
    font-style: italic;
    width: 500px;
    height: 100px;
    text-align: center;
    border-radius: 13px;

}
.blockquote-1::before {
    border: 14px solid transparent;
    border-top: 14px solid #efefef;
    border-bottom: 0;
    height: 0;
    width: 0;
    border-top-width: 25px;
    content: '';
    display: block;
    position: absolute;
    left: 40px;
    bottom: -25px;
    transform: rotate(90deg) skew(-35deg) translateY(11px);
}
.blockquote-1 cite {
    position: absolute;
    bottom: -46px;
    left: 62px;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    color: white;
}
span{

 font-style: italic;
}
.info{
	padding:25px; 
	position: relative;
	font-size: 40px;
	font-family: sans-serif;

}

img{
	width: 400px;
height: 250px;
}

.exx{
	margin: 10px;
	font-size: 25px;
}

.pidor{

}