body{
	color:white;
    padding: 0;
    margin: 0;
    background: url(../image/Fon.jpg);
    z-index: 0;

}

h1{
    position: relative;
    left: 70px;
}

p{
    position: relative;
    top: 15px;
}
.header{
	border-color: red;
	color:white;
	font-size: 80px;
    left: 300px;
	position: relative;

}

.blockquote-1 {
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);

    position: relative;
    font-size: 30px;
    background: #efefef;
    color: #000;
    font-style: italic;
    width: 500px;
    height: 100px;
    text-align: center;
    border-radius: 13px;


}
.blockquote-1::before {
    border: 14px solid transparent;
    border-top: 14px solid #efefef;
    border-bottom: 0;
    height: 0;
    width: 0;
    border-top-width: 25px;
    content: '';
    display: block;
    position: absolute;
    left: 40px;
    bottom: -25px;
    transform: rotate(90deg) skew(-35deg) translateY(11px);
}
.blockquote-1 cite {
    position: absolute;
    bottom: -46px;
    left: 62px;
    font-size: 30px;
    font-style: italic;
    font-weight: 300;
    color: white;
}
span{
 font-style: italic;
 font-size:25px;
 position: relative;
 left: -150px;
}
.video{
    position: relative;
    top: 20px;
    left: 370px;
}



img{
	width: 500px;
height: 300px;
}

.pidor{
position: relative;
left: 800px;

}

#disqus_thread {
    background-color: white;
    position: relative;
    left: 100px;
width:100%;
}